certifi==2020.4.5.1
chardet==3.0.4
embeddings==0.0.8
idna==2.9
joblib==0.15.1
numpy==1.18.5
requests==2.23.0
scikit-learn==0.23.1
scipy==1.4.1
sklearn==0.0
tabulate==0.8.7
threadpoolctl==2.1.0
tqdm==4.46.1
urllib3==1.25.9
